* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 100%;
  margin: 50px auto;
  flex-direction: column;
}

.box {
  
  width: 90%;
  margin-bottom:20px;
  
  position: relative;
  background-color: #eee;
}



.box1 {
  height: 150px;
  
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.box2 {
  height: 150px;
  
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.box3 {
  height: 150px;
  
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

  